<h1>Question id: <%= params[:id] %> </h1>

<p> <%= link_to @question.test.title, test_questions_path(@question.test) %></p>

<p>
  <label for='question-body'>Body</label>
  <p><%= @question.body %></p>
  <p><%= button_to "delete", {:controller => :questions, :action => 'destroy', :id => @question.id }, :method => :delete %> </p>
  <label for='question-answers'>Answers</label>
  <table>
  <thead>
    <tr>
      <th>Body</th>
      <th>Correct</th>
    </tr>
  </thead>

  <tbody>
   <%= render @question.answers%>
  </tbody>
</table>

</p>