
<h1><%= t('.badges') %> </h1>

<p><%= link_to t('.new_badge'), new_admin_badge_path, class: "link-secondary" %></p>

<table class="table table-borderless">

  <tr>
    <th> <%= t('.title') %> </th>
    <th> <%= t('.picture') %> </th>
    <th> <%= t('.condition') %> </th>
  </tr>

  <% @badges.each do |badge|%>
    <tr class="col-12 col-md-4 content">
      <td  vertical-align="middle">
        <%= content_tag :span, badge.title, class: 'badge-title' %>  
      </td>
      <td>
        <%= content_tag :span, badge.image.picture_path , class: 'badge-title' unless badge.image.nil? %>  
      </td>
      <td>
        <%= content_tag :span, badge.admin_condition, class: 'badge-title' %>  
      </td>
       <td><%= link_to t('show'), admin_badge_path(badge), class: "btn btn-light" %></td>
    </tr>
  <% end %>
</table>