<div>
  <h1><%= t('.title', badge: @badge.title) %></h1>

  <p><%= link_to t('.all_badges'), admin_badges_path, class: "link-secondary" %></p>

  <p><%= link_to t('.edit'), edit_admin_badge_path(@badge), class: "link-secondary" %></p>

  <img src= <%= path_to_image @badge.image.picture_path unless @badge.image.nil?  %> alt= "<%= @badge.image.discription unless @badge.image.nil? %>" >

  <table class="table table-borderless">
    <thead>
      <tr class="col-12 col-md-4 content">
        <th><%= t('.category') %></th>
        <th><%= t('.level') %></th>
        <th><%= t('.first_time') %> </th>
        <th><%= t('.activated') %></th>
      </tr>
    </thead>

    <td><%= @badge.category_view %> </td>
    <td><%= @badge.level %> </td>
    <td><%= @badge.first_time %> </td>
    <td><%= @badge.activated %> </td>

  </table>

  <p> </p>

</div>