<%= form_with model: @user, local: true, url: guru_complete_form_path, methode: :post do |form| %>
  <p>
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </p>
  <p>
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </p>
  
  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>