<p><%= answer_header(@answer) %></p>

<%= form_for([:admin, @question, @answer]) do |form|%>
  <p>
    <%= form.label :value %>
    <%= form.text_field :value %>
  </p>
  <br>
    <p>
    <%= form.label :correct %>
    <%= form.text_field :correct %>
  </p>
  <p>
    <%= form.submit %>
  </p> 
<% end %>