<div class="row">
  <%= form_with model:[:admin, test] do |form| %>
    <% if test.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(test.errors.count, "error") %> prohibited this test from being saved:</h2>

        <ul>
          <% test.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <p>
      <%= form.label :title %>
      <%= form.text_field :title, class: "form-control not_empty" %>
    </p>
    <p>
      <%= form.label :category %>
      <%= form.collection_select :category_id, Category.all, :id, :title, { prompt: true } , { class: "form-control not_empty" }  %>
    </p> 
    <p>
      <%= form.label :level %>
      <%= form.text_field :level, class: "form-control not_empty"  %>
    </p>
    <br>
    <div class="actions">
      <%= form.submit t('.create'), class: "btn btn-light" %>
    </div>
  <% end %>
</div>
