<%= form_with(model: test) do |form| %>
  <% if test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(test.errors.count, "error") %> prohibited this test from being saved:</h2>

      <ul>
        <% test.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :category %>
    <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true %>
  </p>
  <p>
    <%= form.label :level %>
    <%= form.text_field :level %>
  </p>
  <p>
    <%= form.label :author %>
    <%= form.collection_select :author_id, User.all, :id, :login, prompt: true %>
  </p>
  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
