<%= render 'form' %>
<p>
  <h2><%= t('.your_badges') %></h2>
</p>
<p>
  <% @user_badges.each do |badge|%>
    <tr class="col-12 col-md-4 content">
      <%= label_tag 'Badge'%>
      <td  vertical-align="middle">
        <%= content_tag :span, badge.title, class: 'badge-title' %>  
      </td>
      <td>
        <%= image_tag badge.image.picture_path, alt: badge.image.discription, size: '120' %>
      </td>
    </tr>
  <% end %>
</p>
<h3><%= t('.all_badges') %></h3>
<p>
  <table class="table table-borderless">
    <tr>
      <th> <%= t('.title') %> </th>
      <th> <%= t('.picture') %> </th>
      <th> <%= t('.condition') %> </th>
    </tr>
    <% @badges.each do |badge|%>
      <tr class="col-12 col-md-4 content">
      <td  vertical-align="middle">
        <%= content_tag :span, badge.title, class: 'badge-title' %>  
      </td>
      <td>
        <%= image_tag badge.image.picture_path , size: '75', class: 'badge-title' %>  
      </td>
      <td>
        <%= content_tag :span, badge.condition_view, class: 'badge-title' %>  
      </td>
    <% end %>
  </table>
</p>

