<!DOCTYPE html>
<html>
  <head>
    <title>Testguru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav>
    <ul class="nav">
      <li class="nav menu">
        <%= link_to t('menu.main'), root_path, class: 'nav link' %>
      </li>
      <li class="nav menu">
        <%= link_to t('menu.tests'), tests_path, class: 'nav link' %>
      </li>
      <li class="nav menu">
        <%= log_in_log_out %>
      </li>
      <li class="nav menu">
        <%= user_name %>
      </li>
    </ul>
  </nav>

  <%= render 'shared/errors' %>

  <body>
    <%= yield %>
  </body>
  <br>
  <footer>
    <p><%= t('footer.part1') %> </p>
    <p><%= t('footer.part2', github: github_url('fingersi')).html_safe  %>
    <p><%= t('footer.part3', href: (link_to 'Thinknetica', "https://thinknetica.com/")).html_safe %> </p>
    <p>Copyright <%= current_year %></p>
  <footer>
</html>
