<!DOCTYPE html>
<html>
  <head>
    <title>Testguru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav>
    <ul class="nav">
      <li class="nav menu">
        <%= link_to 'TestGuru', root_path, class: 'nav link' %>
      </li>
      <li class="nav menu">
        <%= link_to 'Tests', tests_path, class: 'nav link' %>
      </li>
      <li class="nav menu">
        <%= log_in_log_out %>
      </li>
      <li class="nav menu">
        <%= user_name %>
      </li>
    </ul>
</nav>

  <body>
    <%= yield %>
  </body>
  <br>
  <footer>
    <p> Меня зовут Алексей, изучаю Ruby on Rails </p>
    <p>Ссылка на репозиторий проекта <%= github_url('fingersi') %> </p>
    <p>Учебный проект в онлайн-школе <a href='https://thinknetica.com/'>Thinknetica</a></p>
    <p>Copyright <%= current_year %> </p>
  <footer>
</html>
